<nav class="navbar">
  <div class="nav-left">
    <strong class="logo" routerLink="/">HealthDash</strong>
    
    <a class="nav-link" 
       routerLink="/" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{exact: true}">Home</a>

    @if (authService.isLoggedIn()) {
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-link" routerLink="/dashboard" fragment="listado" routerLinkActive="active">Mi Actividad</a>
    }
  </div>

  <div class="nav-right">
    @if (!authService.isLoggedIn()) {
      <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
      <a class="btn-register" routerLink="/register">Registrarse</a>
    } 
    
    @else {
      @if (authService.isAdmin()) {
        <a class="admin-link" routerLink="/admin">Panel Admin</a>
      }
      
      <span class="user-name">
        {{ authService.currentUser()?.name }}
      </span>
      
      <button class="logout-button" (click)="authService.logout()">
        Cerrar Sesión
      </button>
    }
  </div>
</nav>