<nav class="navbar">
  <div>
    <strong>HealthDash</strong>
    @if (authService.isLoggedIn()) {
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    }
  </div>

  <div class="menu-items">
    @if (!authService.isLoggedIn()) {
      <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
      <a class="nav-link" routerLink="/register">Registrarse</a>
    } 
    
    @else {
      @if (authService.isAdmin()) {
        <a class="admin-link" routerLink="/admin">Panel Admin</a>
      }
      
      <span class="user-name">
        {{ authService.currentUser()?.name || authService.currentUser()?.email }}
      </span>
      
      <button class="logout-button" (click)="authService.logout()">
        Cerrar Sesión
      </button>
    }
  </div>
</nav>